.btn-secondary {
    color: $white;
    &:hover {
        background-color: transparent;
        color: $secondary;
    }
}

.btn-outline-secondary {
    border-color: $secondary;
    color: $secondary;

    &:hover {
        background: $secondary;
        color: #fff;
    }
}